*{
  margin: 0%;
   padding: 0%;
}

:root{

    --cor-principal: #FFFFFF;
    --cor-secundaria: #c0c0c0;
    --cor-do-botao: #AF16F7;
    --cor-do-fundo: #00030C;
}

body{
    background-color: var(--cor-do-fundo);
    color: var(--cor-do-botao);
}

.principal{
    background-image: url(img/Background\ \(1\).png);
}

.container{
height: 100 vh;
background-repeat: no-repeat;
background-size: contain;
display: grid;
grid-template-columns: 50% 50%;
}

.container-botao{
  background-color: var(--cor-do-botao);
  border-radius: 15px;
  padding: 2em;
  width: 10%;
  color: var(--cor-principal);
  display: block;
}